.filter {
    margin-bottom: 32px;
}

.filter-nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 77px;
    margin-bottom: 16px;
}

.filter-nav {
    width: 785px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    padding: 6px;
}

.filter-nav ul {
    display: flex;
    justify-content: space-between;
}

.filter-nav ul li {
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.filter-nav ul li::after {
    content: '';
    width: 14px;
    height: 14px;
    display: inline-block;
    background-image: url(../../icons/arrow.svg);
    transition: 0.3s;
}

.filter-nav ul li:hover {
    background-color: #F3F3F3;
}

.filter-nav ul li:hover::after {
    transform: rotate(180deg);
}

.filter-nav ul li .filter-tab {
    height: 0;
    padding: 0;
    position: absolute;
    border-color: #DBDBDB;
    overflow: hidden;
    transition: all 0.1s linear;
}

.filter-nav ul li:hover .filter-tab, .filter-nav ul li .filter-tab:hover {
    height: auto;
    padding: 24px;
    border: 1px solid #DBDBDB;
}

.region-tab, .price-range-tab, .size-tab, .rooms-tab {
    border-radius: 10px;
    background-color: white;
    margin-left: -14px;
    margin-top: 21px;
}

.region-tab {
    width: 735px;
    height: 285px;
    margin-left: -21px;
}

.price-range-tab, .size-tab {
    width: 380px;
    height: 390px;
}

.rooms-tab {
    width: 280px;
    height: 200px;
}

.add-list {
    padding: 10px 16px;
    border-radius: 10px;
    background-color: #F93B1D;
    border: 0;
    color: white;
    width: 230px;
    height: 47px;
}

.add-agent {
    padding: 10px 16px;
    border-radius: 10px;
    border: 1px solid #F93B1D;
    color: #F93B1D;
    background-color: white;
    width: 230px;
    height: 47px;
}

.filter-options {
    display: flex;
}

.filter-options .options-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 620px;
    margin-right: 16px;
    gap: 10px;
}

.filter-options .options-wrapper .option {
    border-radius: 43px;
    padding: 6px 10px;
    border: 1px solid #DBDBDB;
}

.filter-options .clear {
    width: 93px;
    height: 17px;
    font-size: 14px;
    background-color: white;
    border: 0;
    font-weight: 900;
}

.filter-tabs-header {
    color: #021526;
    line-height: 19.2px;
    font-weight: 500;
    margin-bottom: 24px;
}

.filter-tab-option {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:  16px 20px;
}

.filter-tab-option .option {
    width: 30%;
    display: flex;
    font-size: 14px;
    line-height: 17px;
}

.filter-tab-option .option p {
    margin-left: 8px;
}